<h3>Create Person</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name"> First Name</label>
            <input 
                type="text"
                class="form-control"
                id="firstName"
                required
                [(ngModel)]="person.firstName"
                name="firstName">
        </div>

        <div class="form-group">
            <label for="name">LastName</label>
            <input 
                type="text"
                class="form-control"
                id="lastName"
                required
                [(ngModel)]="person.lastName"
                name="lastName">
        </div>

        <div class="form-group">
            <label for="name">Email</label>
            <input 
                type="text"
                class="form-control"
                id="emailAddress"
                required
                [(ngModel)]="person.emailAddress">
        </div>

        <div class="form-group">
            <label for="name">Phone Number</label>
            <input
                type="text"
                class="form-control"
                id="emailAddress"
                required
                [(ngModel)]="person.phoneNumber">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Person submitted successfully</h4>
</div>