<div class="container" [hidden]="submitted" style="width: 400px;">
    <h3 class="text-center">Update Person</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">First Name</label>
            <input 
                type="text"
                class="form-control"
                id="firstName"
                required
                [(ngModel)]="person.firstName"
                name="firstName">
        </div>

        <div class="form-group">
            <label for="name">Last Name</label>
            <input 
                type="text"
                class="form-control"
                id="lastName"
                required
                [(ngModel)]="person.lastName"
                name="lastName">
        </div>

        <div class="form-group">
            <label for="name">Email Address</label>
            <input 
                type="text"
                class="form-control"
                id="emailAddress"
                required
                [(ngModel)]="person.emailAddress"
                name="emailAddress">
        </div>

        <div class="form-group">
            <label for="name">Phone Number</label>
            <input 
                type="text"
                class="form-control"
                id="phoneNumber"
                [(ngModel)]="person.phoneNumber"
                name="phoneNumber">
        </div>
        
        <div class="container">
            <div class="text-center mt-3">
                <button 
                    type="submit" 
                    class="btn btn-success">
                    <fa-icon class="me-2" [icon]="faSave"></fa-icon>
                    Submit Changes
                </button>

                <button
                    (click)="goToList()"
                    class="btn btn-danger ms-2">
                    <fa-icon class="me-2" [icon]="faCancel"></fa-icon>
                    Cancelar
                </button>
            </div>
        </div>
    </form>
</div>

<div class="text-center" [hidden]="!submitted">
    <h4>Person updated successfully</h4>
    <button 
        (click)="goToList()"
        class="btn btn-warning ms-2">
        <fa-icon [icon]="faBack"></fa-icon>
        Back To List
    </button>
</div>